@media (prefers-color-scheme: dark) {
    * {
	color: #eee;
	background-color: #212;
    }
}

@media (prefers-color-scheme: light) {
    * {
	color: #212;
	background-color: #eee;
    }
}

.hidden {
    display: none;
}

.ikaString {
    font-size: 24pt;
}

#quiz {
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}

button {
    font-size: 16pt;
}
